@font-face {
	font-family: "Transat Medium";
	src: url("/fonts/transat-med.eot?") format("eot"),
		 url("/fonts/transat-med.woff2") format("woff2"),
		 url("/fonts/transat-med.woff") format("woff"),
		 url("/fonts/transat-med.ttf") format("truetype"),
}

@font-face {
	font-family: "Transat Bold";
	src: url("/fonts/transat-bold.eot?") format("eot"),
		 url("/fonts/transat-bold.woff2") format("woff2"),
		 url("/fonts/transat-bold.woff") format("woff"),
		 url("/fonts/transat-bold.ttf") format("truetype"),
}